* {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
i,
p {
    margin: 0px;
    padding: 0px;
}

.detail-area {
    margin-top: 100px;
}

.detail-area .detail-head h1 {
    font-family: LOUIS felligri;
    font-size: 70px;
    font-weight: 300;
    margin-bottom: 35px;
    line-height: normal;
    text-transform: uppercase;
}

.detail-area .paragraph p {
    color: #2D2D2D;
    text-align: justify;
    margin-bottom: 35px;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.paragraph-img img {
    border-radius: 15px;
    width: 100%;
    height: 100%;
}

@media (max-width:992px) {
    .detail-area .detail-head h1 {
        font-size: 59px;
    }

    .detail-area .paragraph p {
        font-size: 16px;
    }
    .detail-area {
        margin-top: 60px;
    }

}

@media (max-width:768px) {
    .detail-area .detail-head h1 {
        font-size: 40px;
        margin-bottom: 15px;
    }

    .detail-area .paragraph p {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .paragraph-img {
        text-align: center;
        padding-top: 10px;
    }

    .detail-area .paragraph-img img {
        width: 43vw;
        height: 100%;
    }
    .detail-area {
        margin-top: 20px;
    }
    .detail-area .detail-head h1 {
        font-size: 40px;
        text-align: center;
        margin-bottom: 25px;
    }
}

@media (max-width:576px) {
        .detail-area .detail-head h1 {
        font-size: 30px;
        margin-bottom: 20px;
        text-align: center;
    }

    .detail-area .paragraph p {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .paragraph-img {
        text-align: center;
        padding-top: 10px;
    }

}