* {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
i,
p
 {
    margin: 0px;
    padding: 0px;
}
.event-area{
    background-image: url(/public/images/footer-back.1867d4530764dd67cf4c.png);
    background-position: 50%;
    background-repeat: no-repeat;
    padding-top: 100px;

}
.event-area .event-text {
    text-align: center;
}
.event-area .event-text h1{
    font-family: LOUIS felligri;
    font-size: 80px;
    font-weight: 300;
    margin-bottom: 35px;
    line-height: normal;
    text-transform: uppercase;
}
@media (max-width:768px) {
    .event-area .event-text h1{
        font-size: 50px;
    }
    
}
@media (max-width:576px) {
    .event-area .event-text h1{
        font-size: 39px;
    }
    .event-area{
        padding-top: 50px;
    }
    
}