* {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
i,
p
 {
    margin: 0px;
    padding: 0px;
}

.navbar-area{
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #fff;
    box-shadow: 0px 0px 3px grey;
    z-index: 2;
}
.navbar-area #navbarScroll{

    justify-content: space-around;
    margin: 0px 0px;
}

.navbar-area .bg-body-tertiary{
    padding: 10px 50px;
}
#action1{
    font-size: 16px;
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
}
.navbar-area i{
    font-size: 16px;
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-color: #2d2d2d;
    background-color: #2d2d2d;
    letter-spacing: 1px;
    padding: 13px 15px;
    border: 1px solid black;
    border-radius: 30px;
}
sup {
    
    vertical-align: initial;
    position: relative;
}